
.menu {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 89%);
    padding: 8px 14px;
    z-index: 100;
}

    .menu .items {
        display: flex;
        gap: 14px;
        align-items: center;
    }

    .menu h1 {
        margin-right: 2rem;
    }
