
.menu {
    display: grid;
    gap: 14px;
    justify-content: space-between;
    background-color: hsl(0, 0%, 89%);
    padding: 8px 14px;
    border-bottom: 2px solid hsl(0, 0%, 80%);
}

    .menu .items {
        display: inline-flex;
        gap: 28px;
        align-items: baseline;
    }

    .menu h1 {
        margin-bottom: 0;
    }

a {
    cursor: pointer;
    color: hsl(235, 38%, 44%);
}

    a:hover {
        font-weight: 700;
    }