@page "/"
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using PasskeyHelper.Handlers
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="page">

    <p>
        <h1>Hello</h1>
        <div>Welcome to your new app.</div>
    </p>

    <AuthorizeView>
        <NotAuthorized>
            <p>
                <strong>Not authenticated. Please Login...</strong>
            </p>
        </NotAuthorized>
        <Authorized>
            <p>
                <strong>Authenticated as: </strong>
                @(context?.User?.Identity?.Name ?? "- NOT FOUND -")
            </p>
        </Authorized>
    </AuthorizeView>
</div>

@code {

}